@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    gap: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background-color: #1A0D09;
    color: white; /*tirar depois*/

    /****************************
    Animação ao carregar a página
    ****************************/
    opacity: 0;
    transform: translateY(12px);
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main{
    max-width: 800px;

}

/*para elementos que precisam ficar um do lado do outro*/
.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/************************
Estilo das Fontes do site
************************/

h1.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 64px;
}

/* h2.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    display: flex;
    justify-content: center;
} --> essa configuração de fonte está na classe '.container-section'*/ 

h2.font-contat{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 48px;
    color: #E8B89A;
    margin-bottom: 30px;
}

h3.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 24px;
}

p.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 24px;
}

.font-content{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 18px;
}


p.font-contat{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 32px;
}

nav a{
    text-decoration: none;
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
}

nav a:hover{
    color: #E8B89A;
}

/***************
Estilo do header
***************/

header img{
    width: 150px;
    height: 150px;
    border: 2px solid #E8B89A;
    border-radius: 50%;
    margin-right: 18px;
}

/************
estilo do nav
************/

.line{
    margin-top: 34px;
    margin-bottom: 34px;
    border: 1px solid #FFFFFF;
}

nav{
    display: flex;
    gap: 30px;
}

/*****************
estilo das sessões
****************/

.container-section{
    margin-top: 34px;
    margin-bottom: 26px;
    text-align: center;
    background-color: #2E1510;
    border: 1px solid #2E1510;
    border-radius: 10px;
    max-width: 20%;
    padding: 3px 8px;
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 34px;
}

p.justify{
    text-align: justify;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*********************************
estilo do 'acompanhe meu trabalho'
*********************************/

.contat{
    margin-bottom: 6px;
    font-size: 24px; 
}