@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    gap: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background-color: #1A0D09;
    color: white;

}

main{
    max-width: 800px;
}

/*posicionamento para elementos que precisam ficar um do lado do outro*/
.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*design das fontes*/
h1.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 64px;
}

p.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 24px;

}

.font-content{
    font-family: 'Bitter', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*desing do cabeçalho*/
header img{
    width: 150px;
    height: 150px;
    border: 2px solid #E8B89A;
    border-radius: 50%;
    margin-right: 18px;


}

h1.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 64px;
}

h2.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

p.font-title{
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 24px;

}

/*desing da linha*/
.container-line{
    margin-top: 34px;
    margin-bottom: 34px;
    border: 1px solid #FFFFFF;
}

/*design do nav*/
nav{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-family: 'Cormorant infant', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
}

nav a:hover{
    color: #E8B89A;
}

.container-section{
    margin-top: 34px;
    margin-bottom: 26px;
    background-color: #2E1510;
    border: 1px solid #2E1510;
    border-radius: 10px;
    max-width: 20%;
    padding: 3px 8px;
}