*{
    margin: 0;
    padding: 0;
}

a:link, :visited{
    text-decoration: none;
    color: #5B7C99;
    font-family: "Mulish", sans-serif; 
    font-size: large;
    font-weight: bold;
}

a:hover{
    border-bottom: 3px solid #5B7C99;
    transition: 0.1s;
}

#containerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 3vh;
    border-bottom: solid 2px #575151;
}

#containerNavLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

#menuHamburger{
    display: none;
}

#menuHamburger {
    display: none;
}

@media (max-width: 600px) {
    #menuHamburger {
        display: block;      
        font-size: larger;       
        padding: 10px;
            
    }

    #containerNavLinks {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 70px;
        right: 35px;
        padding: 10px;

    }

     #containerNavLinks.menuactive {
        display: flex !important;
    }
}