*{
    margin: 0;
    padding: 0;
}

main {
    background-image: url("../assets/img/img_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

a:link, :visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Mulish", sans-serif; 
    font-size: large;
    font-weight: bold;
}

a:hover{
    border-bottom: 3px solid whitesmoke;
    transition: 0.1s;
}

#containerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    min-width: 100%;
    height: 10vh;
    padding: 3vh;
    background-color: #5B7C99;
    border-bottom: solid 2px #575151;
}

#containerNavLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

#menuHamburger{
    display: none;
}

@media (max-width: 600px) {
    #menuHamburger {
        display: block;      
        font-size: larger;       
        padding: 10px;
            
    }

    #containerNavLinks {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 70px;
        right: 35px;
        padding: 10px;
        background-color: rgb(12, 30, 135);

    }

     #containerNavLinks.menuactive {
        display: flex !important;
    }
}