
/*Select all header content*/
#container1{
    /*remove padding*/
    padding: 0px;
    /*remove margin*/
    margin: 0px;
    /*Active display flex*/
    display: flex;
    /*Arrange the elements in row*/
    flex-direction: row;
    /**/
    justify-content: space-between;
    /**/
    align-items: center;
    /**/
    border-bottom: solid 2px #575151;
}

/**/
#containerHeader{
    /**/
    display: flex;
    /**/
    align-items: center;
    /**/
    justify-content: center;
    /**/
    gap: 10px;
    /**/
    font: "Mulish", sans-serif, bold #5B7C99;  
}

#containerNav{
    /**/
    display: flex;
    gap: 15px;
    margin-right: 15px;
}

a:link,a:visited.linkNav{
    text-decoration: none;
    color: #5B7C99;
    font-family: "Mulish", sans-serif;
    font-style: oblique;
}

a:hover.linkNav{
    text-decoration: underline solid 2px #5B7C99 ;
}

a:active.linkNav{
    color: red;
}





