*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    align-items: center;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
    
}

.text{
    font-family: "Mulish", sans-serif;
    color: whitesmoke;
}

img{
    max-width: 100%;
    height: auto;
}

.aboutMeContent{
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5vh;

}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

.arrowContent{
   position: absolute;
   top: 63vh;
   min-height: 100vh;
   width: 100%;
   text-align: center;
   gap: 0.5vh;
   
}

.containerMain {
    position: relative;
    background-image: url("../assets/img/img3_background.jpg");
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.containerNav{
    flex-direction: row;
    background-color: #5B7C99;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    padding: 2vh;
    border-bottom: solid 2px black;
    z-index: 1100;
}

.containerNav i{
    display: none;
}

.navLink{
    flex-direction: row;
    justify-content: space-around;
    gap: 3vh;
    list-style-type: none;
}

.link:link, :visited {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.link:hover{
    border-bottom: 3px solid whitesmoke;
    transition: 0.1s;
}

@media (max-width: 660px){
    .containerNav i{
        display: block;      
        font-size: larger;       
        padding: 10px;
    }

    .navLink{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1vh;
        position: absolute;
        top: 70px;
        right: 35px;
        padding: 10px;
        background-color: rgb(12, 30, 135);
    }

    .navLink.menuactive {
    display: flex !important;
    }
}

